@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500');

*{
    margin: 0;
    padding: 0;
    
}
/*
background-color:#333;
color:#fff;
primary-color:#008ed6;
dark-overlay:rgba(0,0,0,0.7);


*/

body{
   background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
/*======== global ======*/
.divider{
    margin-top: 50px;
}

.heading-page{
    
}
/*=======Test Subject List=========*/
test-subject-list{
    background-color: #fff;
    color: #222;
    padding: 30px;
}
.exam-topic{
    background-color: #fff;
    color: #222;
    padding: 10px;
    box-shadow: 0px 0px 3px 3px #ddd;
    
}
.exam-topic table, th, td:first-child {
    
}
.exam-topic a{
    text-decoration: none;
      color: #222;
    transition: .5s;
    font-weight: 500;
}
.exam-topic a:hover{
    text-decoration: none;
      color: #008329;
    transition: .5s;
}
/*========test-start==========*/
.test-start{
    background-color: #fff;
    color: #222;
    padding: 30px;
    box-shadow: 0px 0px 3px 3px #ddd;
    
}

.button {
    background-color: #138D75;
    padding: 10px 20px;
    box-shadow: inset 0 -7px 17px -6px rgba(0,0,0,0.5);
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
     outline: none;
    
    border: none;
   
}
.button-right{
    text-align: right;
}

.btn:focus {
  outline: none;
}
/*======Question-page====*/
.question{
    padding: 30px;
}
.question-list{
    background-color: #fff;
    color: #222;
    padding: 30px;
    box-shadow: 0px 0px 3px 3px #ddd;
}
.question-html h4{
    font-size: 16px;
    margin-top: 30px;
    line-height: 1.7em;
}

.timing{
    background-color: #138D75;
    padding: 10px;
    text-align: center;
    color: #fff;
}

